html {
    box-sizing: border-box;
}

*,
*::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --white-color: #fcfcfc;
    --black-color: #0f0f0f;
    --highlight-color: #45A0F5;
    --gray-color: rgba(252,252,252,0.75);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
}

.black-bg-btn {
    background-color: inherit;
    color: var(--white-color);
    cursor: pointer;
}

.white-bg-btn {
    background-color: var(--white-color);
    color: var(--black-color);
}

button {
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--white-color);
    cursor: pointer;
}



/* Nav Section */

.container {
    max-width: 600px;
    margin-inline: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 10px;
}

.logo {
    font-weight: 600;
}

/* main section */
header {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 80px;
}

.content {
    margin-top: 50px;
}

.content h1{
    font-size: 3rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
}

.content .first-line {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

.content .second-line {
    color: var(--highlight-color);
}

.content p {
    color: var(--gray-color);
    margin-bottom: 2rem;
    line-height: 25px;
    font-size: 1.2rem;
}


.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.main-image {
    text-align: center;
}

.main-image img {
    max-width: 100%;
}

/* Feature Section */

.features {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
    
}

.feature {
    border: 1px solid var(--white-color);
    border-radius: 30px;
    padding: 40px 35px;
    max-width: 350px;
}

.feature img {
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature h2 {
    margin-bottom: 20px;
}

.feature p {
    color: var(--gray-color);
}

/* Preview section */
.preview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.preview h2 {
    color: var(--highlight-color);
    font-size: 32px;
}

/* Footer */
footer p {
    text-align: center;
    padding: 20px 0;
}


@media screen and (min-width: 992px){
    :root {
        font-size: 19px;
    }

    .container {
        max-width: 960px;
    }

    header {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 50px;
        height: 70vh;
    }

    header .content {
        max-width: 50%;
        margin-top: 0;
    }

    header .content h1 {
        font-size: 2.5rem;
    }

    header .buttons button {
        width: 160px;
        font-size: 1rem;
    }

    header figure img{
        width: 500px;
    }

    .features {
        padding-inline:1.5rem;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .feature {
        width: 400px;
    }
}
@media screen and (min-width: 1200px){
    
    .container {
        max-width: 1140px;
    }

    header .content h1{
        font-size: 3rem;
    }

    header .content .first-line {
        font-size: 2rem;
    }

    header .content p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    header figure img {
        width: 600px;
    }
}
@media screen and (min-width: 1400px){
    
    .container {
        max-width: 1320px;
    }

    header .content h1{
        font-size: 3rem;
        margin-bottom: 2.2rem;
    }

    header .content .first-line {
        font-size: 2rem;
    }

    header .content p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2.2rem;
    }

    header figure img {
        width: 600px;
    }
}